{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Todo

{% endblock %}


{% block content %}

    <h1>Super Mega Todo List!!</h1>

    <p>the best to do list on the market.</p>

    <br>

    {% if session.user_id %}
                
        <a href="/todo" role="button">View your todo list</a>

    {% else %}

        <a href="/login" role="button">Log in</a>
        <a href="/register" role="button">Register</a>

    {% endif %}

    

{% endblock %}

